:root {
    --secondFont: "Segoe UI", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
}

nav {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}
/* section {
    display: flex;
    justify-content: center;
} */

.nav_menu {
    display: flex;
}

.nav_menu a {
    display: block;
    padding: 8px 16px;
    color: black;
    letter-spacing: 4px;
}

.nav_title {
    padding: 8px 16px;
}

.nav_title a {
    color: black;
    letter-spacing: 4px;
}

.nav_title_bold {
    font-weight: bold;
    padding: 8px 16px;
}

.nav-link {
    padding: 8px 16px;
}

.nav-link:hover {
    background-color: #f1f1f1;
}

header img {
    max-width: 100%;
    height: auto;
}

.slider {
    margin: 0 auto;
    max-width: 1500px;
    max-height: 800px;
    position: relative;

}

.header_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header_logo h1 {
    font-family: var(--secondFont);
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 4px;
}

.header_logo_bold {
    background-color: black;
    opacity: 0.75;
    color: white;
    padding: 8px 16px;
    font-size: 36px;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: var(--secondFont);

}

.container {
    max-width: 1564px;
    padding: 8px 16px;
    margin: 0 auto;
}

.subtitle {
    font-family: var(--secondFont);
    font-size: 24px;
    padding: 32px 0;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;

}

.subtitle p {
    margin: 15px 0;
    line-height: 1.5;
}

.project_card img {
    max-width: 100%;
}

.project_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding-top: 32px;
}

.project_card {
    position: relative;
}

.project_subtitle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 16px;
    color: #fff;
    background-color: black;
}

.about_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 32 0;
}

.about_card img {
    max-width: 100%;
    filter: grayscale(75%);
}

.container p {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 25px;
    margin-bottom: 25px;
}

.about_card h3 {
    font-size: 24px;
    margin: 10px 0;
    font-family: var(--secondFont);
}

.vacancy {
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.60;
}

.vacancy_info {
    font-size: 15px;
    line-height: 1.5;
}

.btn {
    padding: 8px 16px;
    color: #000;
    background-color: #f1f1f1;
    font-size: 15px;
    border: none;
    width: 100%;
}

.btn:hover {
    cursor: pointer;
}

.container input {
    max-width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.form_btn {
    text-transform: uppercase;
    padding: 8px;
    margin: 16px 0;
    background-color: #000;
    color: white;
    max-width: 155px;
    max-height: 40px;
    border: black;
}

.form_btn:hover {
    background-color: #f1f1f1;
    color: #000;
    border: #f1f1f1;
    cursor: pointer;
}

.container_contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container_map {
    max-width: 1564px;
    padding: 5px 32px;
    margin: 0px auto;
}

.img_map {
    max-width: 100%;
}

.about_card button:hover {
    background-color: #999494;
}


.container__footer {
    padding: 32px 0;
}

footer p {
    color: white;
    background-color: #000;
    font-size: 15px;
    text-align: center;
    padding: 15px 0;
}

footer p a {
    color: white;
    text-decoration: underline;
}